<div class="container py-3">
    <h2 class="card-text">Total {{ shoppingcar.total}}</h2>
    <div class="card" *ngFor="let item of shoppingcar.products">
        <div class="row ">
        <div class="col-md-4">
            <img [src]="item.image" class="w-50">
            </div>
            <div class="col-md-8 px-3">
            <div class="card-block px-3">
                <h4 class="card-title">{{ item.title }}</h4>
                <p class="card-text">{{ item.price}}</p>
            </div>
            </div>

        </div>
    </div>
    <br><a [routerLink]="['/home']">Ir a listado de productos</a>
</div>

